beautifulsoup4
certifi
click
colorama
dnspython
Flask
Flask-Cors
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
lxml
MarkupSafe
numpy
pandas
pymongo
python-dateutil
pytz
requests
six
soupsieve
urllib3
Werkzeug
wincertstore
zipp
